
###> symfony/framework-bundle ###
/project/.env.local
/project/.env.local.php
/project/.env.*.local
/project/config/secrets/prod/prod.decrypt.private.php
/project/public/bundles/
/project/var/
/project/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/project/.phpunit.result.cache
/project/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/project/.phpunit.result.cache
###< phpunit/phpunit ###
